
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

#LIVE ------------------------------
RewriteBase /
RewriteRule ^(.+)/program/event/(\d+)  share.php?id=$2 [L]  #LIVE

#LOCAL ----------------------------
##RewriteRule ^vetenskapsfestivalen/program/event/18630 share.php?id=$1 [L]

#LOCAL ------------------------------
RewriteBase /
RewriteCond %{HTTP_HOST} ^localhost$ [NC]
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /vetenskapsfestivalen/index.php [L]


#LIVE ------------------------------
#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]
</IfModule>

# END WordPress
